#wrapper {
    width: 1000px;
    border: 1px solid black;
    overflow: hidden; /* will contain if #first is longer than #second */
}
#first {
    width: 500px;
    float:left; /* add this */
    border: 1px solid red;
}
#second {
    border: 1px solid green;
    overflow: hidden; /* if you don't want #second to wrap below #first */
}
.container{
    margin-top: 20px;
}
/*make it float, baby*/
/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
}

/* Clear floats after the columns */
/*Hier bin ich mir nicht ganz sicher */
/*.row:after {*/
    /*content: "";*/
    /*display: table;*/
    /*clear: both;*/
/*}*/

.listgrid-left{
    float: left;
    width: 80%;
}
.listgrid-right{
    float: left;
    width: 20%;
}

.navbar{
    /*path to image*/
}
.news{
    font-size: 25pt;
}
.news-header{
    font-size: 30pt;
}
.news-text{
    font-size: 20pt;
}
.dates{
    font-size: 30pt;
}
.dates-text{
    font-size: 20pt;
}
.about{
    font-size: 20pt;
}
.about-text{
    font-size: 15pt;
}
/*body{*/
/*    background-image: url("/images/Logo.png");*/
/*    opacity: 0.3;*/
/*}*/