<div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
            <a class="navbar-brand" href="home.html">
                <img src="../images/Logo.png" height="60px" width="60px" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

        <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav mr-auto">
                      <li class="nav-item ">
                            <a class="nav-link" href="activities.html">Aktuelles</a>
                     </li>
            <li class="nav-item">
                <a class="nav-link" href="downloads.html">Downloads</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="about.html">Über uns</a>
            </li>
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="quiz.html">Quiz</a>-->
<!--            </li>-->
            <li class="nav-item">
                <a class="nav-link" href="impressum.html">Impressum</a>
            </li>
<!--            <li class="nav-item ">-->
<!--                <button class="btn btn-success" onclick="sendMail()">Kontakt</button>-->
<!--            </li>-->
        </ul>
        </div>

</nav>
</div>